#panes-layout {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#canvas {
    flex: 4;
}

#session {
    flex: 1;
    background-color: rgba(31, 38, 42, 0.8);
    display: flex;
    flex-direction: column;
}
