.ServerForm {
    display: flex;
    flex-direction: column;
    padding: 4px;
    height: 100%;
}

.Wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

input {
    width: 100%;
    background-color: rgba(31, 38, 42, 0.8);
    color: #c0d3db;
    border: 0;
}

input:focus {
    outline: none;
}

.Submit {
    outline: 1px solid #c0d3db;
}

.AddressField {
    flex: 3;
}

.PortField {
    flex: 1;
}

.PortField > label > input {
    text-align: center;
}

.SessionId {
    padding-bottom: 5px;
}

.Submit {
    flex: 1;
}
